.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper__inner{
  max-width: 640px;
  width: 100%;
}

.textarea{
  width: 100%;
  height: 200px;
}

* + .textarea {
  margin-top: 20px;
}